{{> navbar-user }}


<!-- The Modal -->
<div id="confirmation-box" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

    <form id="add-availability-form" method="post" action="">
        <h4>Booking Confirmation</h4>
        <div class="div-block-4">
            <label class="form-label">Arrival Time</label>
            <label class="form-label">Leave Time</label>
        </div>
        <div class="div-block-4">
        <!--<input type="hidden"  name="id" value="$id" />-->
        <input type="datetime-local" class="text-field w-input" maxlength="256" name="availStartTime" data-name="availStartTime" placeholder="Example Text" id="avail-starttime" required=""> 
        <input type="datetime-local" class="text-field-2 w-input" maxlength="256" name="availEndTime" data-name="availEndTime" placeholder="Example Text" id="avail-endtime" required=""></div>
        <p id="availability-warning">Please choose within the available time slots.</p>
        <p>Carpark:<span id="carpark-input"></span></p>
        <p>Location:<span id="location-input"></span></p>
        <p>Duration:<span id="duration-input"></span></p>
        <p>Hourly Rate:<span id="hrlyrate-input"></span></p>
        <p>Total Price:<span id="price-calculation"></span></p>
        <form action="/charge" method="post">
        <script class="stripe-button" data-key="pk_test_51KDoS7KMUKzKlen5mhcEHgX4tMjt1pTkiEbYx2xXMghzfKkLyOxsvkAfAJNJRLQq8y45Pf7MShkdlW9Jjo8d6qvD00KwfD4GUV" src="//checkout.stripe.com/v2/checkout.js" data-locale="auto" data-description="Booking Charge" data-amount="50000"></script>
        </form>

    </form>
  </div>
</div>







  <div class="columns w-row">
    <div class="filter w-col w-col-3">
      <h3 class="heading filtering">Explore</h3>
      <div class="hint-text">Filter and explore more slots</div>

      <div class="w-form">
        <form id="filter-form" name="filter-form" data-name="filter Form" method="post" action="/listing">
          <label for="start" class="form-label">Start</label>
          <input type="datetime-local" class="w-input" maxlength="256" name="starttime" data-name="starttime" placeholder="" id="filter-start">
          <label for="end" class="form-label">End</label>
          <input type="datetime-local" class="w-input" maxlength="256" name="endtime" data-name="endtime" placeholder="" id="filter-end" required="">
          <label for="location" class="form-label">Location</label>
          <select id="field" name="location" data-name="Field" class="select-field w-select">
            <option value="">PREFERRED LOCATION</option>
            <option value="Islands">Islands</option>
            <option value="Kwai Tsing">Kwai Tsing</option>
            <option value="North">North</option>
            <option value="Sai Kung">Sai Kung</option>
            <option value="Sha Tin">Sha Tin</option>
            <option value="Tai Po">Tai Po</option>
            <option value="Tsuen Wan">Tsuen Wan</option>
            <option value="Yuen Long">Yuen Long</option>
            <option value="Kowloon City">Kowloon City</option>
            <option value="Kwun Tong">Kwun Tong</option>
            <option value="Sham Shui Po">Sham Shui Po</option>
            <option value="Wong Tai Sin">Wong Tai Sin</option>
            <option value="Yau Tsim Mong">Yau Tsim Mong</option>
            <option value="Central and Western">Central and Western</option>
            <option value="Eastern">Eastern</option>
            <option value="Southern">Southern</option>
            <option value="Wan Chai">Wan Chai</option>
          </select>
          <input type="submit" value="Filter" class="submit-button filtering w-button"></input>
        </form>
      </div>

    </div>
    <div class="listing w-col w-col-9" id="listing">
      {{#each output}}
           <div class="div-block-10 testing">
            <div class="div-block-13"><img src="/uploaded/{this.parkingslot_id}}_parkingslot.jpeg" onerror="this.src='images/img-placeholder.png'" loading="lazy" width="140" height="140" alt="" class="image-4"></div>
            <div class="div-block-11">
                <h5 class="heading-4 parking-slot-building">{{this.carpark_building}}</h5>
                <div class="parking-slot-area">{{this.carpark_area}}, {{this.carpark_district}}</div>
                <div class="vehicle-size">{{this.vehicle_size}}</div>
                <div class="description">Description: {{this.description}}</div>
            </div>
            <div class="div-block-12">
                <div class="div-block-14">
                <div class="carpak-availability-text">Available at</div>
                <div class="carpak-availability-text time">{{this.start_date}} {{this.start_time}}</div>
                <div class="carpak-availability-text">to</div>
                <div class="carpak-availability-text time">{{this.end_date}} {{this.end_time}}</div>
                </div>
                <div class="pricing">$ {{ this.carpark_hourly_charge }}<br></div>
                <div class="pricing currency">HKD/hr<br></div>
                <!--<form action="/api/booking" method="post">-->

                <button id="book-this-btn"class="submit-button booking w-button" data-id="{{this.parkingslot_id}}">Book this !</button>

            </div>
            </div>
        {{/each}}
    </div>
  </div>

   {{>script}}
<script src="/js/listing.js"></script>