{{> navbar-user }}

<!-- The Modal -->
<div id="add-availability" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

    <form id="add-availability-form" method="post" action="/api/availability/{{id}}">
        <h4>Add new availability:</h4>
        <div class="div-block-4">
            <label class="form-label">Start</label>
            <label class="form-label">End</label>
        </div>
        <div class="div-block-4">
        <!--<input type="hidden"  name="id" value="$id" />-->
        <input type="datetime-local" class="text-field w-input" maxlength="256" name="availStartTime" data-name="availStartTime" placeholder="Example Text" id="avail-starttime" required=""> 
        <input type="datetime-local" class="text-field-2 w-input" maxlength="256" name="availEndTime" data-name="availEndTime" placeholder="Example Text" id="avail-endtime" required=""></div>
        <input type="submit" value="Add" class="submit-button w-button">

    </form>
  </div>
</div>




  <div class="account wf-section">
    <h3 class="heading">Parking Slot</h3>


<div id="parkingslot-img-container"></div>

    <form id="parkingslot-pic-upload" method="post" action="/api/parkingslotimg/{{id}}" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/jpeg"/>
    <input type="submit" value="update" name="submit"/>
    </form>

    <div class="profile">

        <div class="w-layout-grid profile-info" id="parkingslotDetails">
          <div>Parking Slot ID</div>
          <div>{{id}}</div>
          <div>Location</div>
          <div>{{carpark_building}}, {{carpark_area}}, {{carpark_district}}</div>
          <div>Floor</div>
          <div>{{level}}</div>
          <div>Unit</div>
          <div>{{unit}}</div>
        </div>
      

      <div class="w-form">
        <div>Description</div>
        <form id="email-form" name="email-form" data-name="Email Form" method="get"><textarea placeholder="{{description}}" maxlength="5000" id="Desciption" name="Desciption" data-name="field" class="textarea w-input"></textarea></form>
        <div class="w-form-done"></div>
        <div class="w-form-fail"></div>
      </div>
    </div>
  </div>
  <div class="section-4 wf-section">

    <h4 class="heading">Availability</h4>

    <div class="column-heading w-row">
      <div class="w-col w-col-3">
        <h5 class="box-item">Date</h5>
      </div>
      <div class="w-col w-col-3">
        <h5 class="box-item">Start</h5>
      </div>
      <div class="w-col w-col-3">
        <h5 class="box-item">End</h5>
      </div>
      <div class="w-col w-col-3 ">
        <button id="open-form"><i class="fas fa-plus-square"></i> add new availability</button>
      </div>
    </div>
 
    <div class="column-content w-row">
   <div id="availability-table"></div>
    </div>
  </div>

{{>script}}
<script src="/js/parkingslot.js"></script>