{{> navbar-guest }}


  <div class="columns w-row">
    <div class="filter w-col w-col-3">
      <h3 class="heading filtering">Explore</h3>
      <div class="hint-text">Filter and explore more slots</div>

      <div class="w-form">
        <form id="filter-form" name="filter-form" data-name="filter Form" method="post" action="/preview">
          <label for="start" class="form-label">Start</label>
          <input type="datetime-local" class="w-input" maxlength="256" name="starttime" data-name="starttime" placeholder="" id="filter-start">
          <label for="end" class="form-label">End</label>
          <input type="datetime-local" class="w-input" maxlength="256" name="endtime" data-name="endtime" placeholder="" id="filter-end" required="">
          <select id="field" name="location" data-name="Field" class="select-field w-select">
            <option value="">PREFERRED LOCATION</option>
            <option value="Islands">Islands</option>
            <option value="Kwai Tsing">Kwai Tsing</option>
            <option value="North">North</option>
            <option value="Sai Kung">Sai Kung</option>
            <option value="Sha Tin">Sha Tin</option>
            <option value="Tai Po">Tai Po</option>
            <option value="Tsuen Wan">Tsuen Wan</option>
            <option value="Yuen Long">Yuen Long</option>
            <option value="Kowloon City">Kowloon City</option>
            <option value="Kwun Tong">Kwun Tong</option>
            <option value="Sham Shui Po">Sham Shui Po</option>
            <option value="Wong Tai Sin">Wong Tai Sin</option>
            <option value="Yau Tsim Mong">Yau Tsim Mong</option>
            <option value="Central and Western">Central and Western</option>
            <option value="Eastern">Eastern</option>
            <option value="Southern">Southern</option>
            <option value="Wan Chai">Wan Chai</option>
          </select>
          <input type="submit" value="Filter" class="submit-button filtering w-button"></input>
        </form>
      </div>

    </div>
    <div class="listing w-col w-col-9" id="listing">

      <div class="caution">
        <img width="40px" height="40px" src="/images/warning-64.png">
        <h4 class="heading"><a href="/signup">Create an account</a> or <a href="/login">log into</a> Parkdo to book from our huge selection of parking slots.</h4>
        </div>

      {{#each output}}
           <div class="div-block-10 testing">
            <div class="div-block-13"><img src="/uploaded/{{this.parkingslot_id}}_parkingslot.jpeg" onerror="this.src='images/img-placeholder.png'" loading="lazy" width="140" height="140" alt="" class="account-image parking-slot"></div>
            <div class="div-block-11">
                <h5 class="heading-4 parking-slot-building">{{this.carpark_building}}</h5>
                <div class="parking-slot-area">{{this.carpark_area}}, {{this.carpark_district}}</div>
                <div class="vehicle-size">{{this.vehicle_size}}</div>
                <div class="description">Description: {{this.description}}</div>
            </div>
            <div class="div-block-12">
                <div class="div-block-14">
                <div class="carpak-availability-text">Available at</div>
                <div class="carpak-availability-text time">{{this.start_date}} {{this.start_time}}</div>
                <div class="carpak-availability-text">to</div>
                <div class="carpak-availability-text time">{{this.end_date}} {{this.end_time}}</div>
                </div>
                <div class="pricing">$ {{ this.carpark_hourly_charge }}<br></div>
                <div class="pricing currency">HKD/hr<br></div>
                {{!-- <button class="submit-button booking w-button" data-id="{{this.parkingslot_id}}">Book this !</button> --}}
            </div>
            </div>
        {{/each}}
    </div>
  </div>

   {{>script}}
<!--<script src="/js/listing.js"></script>-->